a {
	color:#3b5998;cursor:pointer;text-decoration:none;
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    line-height: 1.6;
    font-family: "Microsoft YaHei","微软雅黑",Helvetica,"黑体",Arial,Tahoma;
    color: #222;
    font-size: 14px;
}
select{border:1px solid #bdc7d8;padding:2px}
.navigationPanel {
	background-color:#e3e3e3;
	background-repeat: repeat-x;
}
.menuContainer{
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	width: 981px;
}
#profileCover{background:url(../images/profileCoverBackground.png) bottom left repeat-x;border-bottom-color:rgba(0,0,0,0.4)}
.profilePic{background-color:#fff;margin:4px;border:4px solid #fff;-webkit-border-radius:2px;height:160px;width:160px}
.profilePicThumb{-webkit-box-shadow:none;left:15px;margin-top:0;top:-143px}
.bodyContainer {
	margin:0 214px;
	position:relative;
	padding-right: 205px;
	width: 981px;
}
	.userProfile .basicTitle { height:40px;
		border-top:1px solid #9BA3AE;
		border-bottom:1px solid #333; 
		/*background:url(../images/bg_top1844c2.png) 0px 0px repeat-x transparent;*/
		background-color:#6B7888;
		background:-webkit-gradient(linear,
					left top,left bottom,
					from(#6B7888),to(#545E6A),
					color-stop(0.1,#6A7786),color-stop(0.5,#5E6977),color-stop(0.9,#56616D),color-stop(1.0,#545E6A));
		background-image:-moz-linear-gradient(top, #6A7786 10%,  #5E6977 50%, #56616D 90%, #545E6A 100%);
		position:relative;
		border-radius: 4px 4px 0 0;
		-webkit-border-radius: 4px 4px 0 0;
		-moz-border-radius: 4px 4px 0 0;
		-o-border-radius: 4px 4px 0 0;
		-ms-border-radius: 4px 4px 0 0;
	}
	.userProfile .basicNameWrap {
		
		border-radius: 6px 6px 0 0;
		text-align:center;
		font-size:16px;
	}
	.userProfile .basicNameWrap .basicName { 
		margin: 0 auto;
		width:400px;
		white-space:nowrap;
		word-wrap : normal;
		text-overflow:ellipsis;
		-o-text-overflow:ellipsis;
		overflow:hidden;
		padding-top: 10px;
		font-size:14px;
		font-family:'微软雅黑';
		/*color: #383E45;*/
		color:#fff;
		text-shadow:none;
	}
	.userProfile .basicProfile { 
		height:390px; 
		width:100%; 
		min-height:200px; 
		overflow:hidden; 
		overflow-y:auto; 
		border-bottom:1px solid #bebebe; 
		background-color:#EFF3F7; }
		
.info{
	color: #89919c;
	font-weight: normal;
	line-height: 15px;
text-align: left;
vertical-align: top;
width: 79px;
word-wrap: break-word;
}
.tdInfo{
	line-height: 15px;
padding-top: 4px;padding:1px 0 1px 0;text-align:left;vertical-align:top
}
.popupWindow{
	position:absolute;
	margin:-300px 0px 0px 200px;
}
.inputText{
	border:1px solid #bdc7d8;
	margin:0;
	padding:3px;
	-webkit-appearance:none;
	-webkit-border-radius:0
}
